<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내가 만든 쿠키</title>
</head>

<body>
  <h1>쿠키 팔아요!</h1>
  <input type="checkbox" name="check" id="check">
  <label for="check">ALERT 하루동안 보지 않기</label>
  <script>
    if (!document.cookie) {
      alert("쿠키 팔아요~~")
    }
    const checkBox = document.getElementById("check");
    // aysnc 방식.
    checkBox.addEventListener("click", async () => {
      if (checkBox.checked) {
        const res = await fetch(`/cookie/cook`, {
          method: "GET",
          headers: {
            'Content-type': 'application/json',
          }
        });
        console.log(res);
        const msg = await res.json();
        console.log(msg);
      }
    })

    // Promise 방식
    // checkBox.addEventListener("click", () => {
    //   if (checkBox.checked === true) {
    //     fetch(`/cookie/cook`, {
    //         method: "GET",
    //         headers: {
    //           'Content-type': 'application/json'
    //         },
    //       })
    //       // 
    //       .then((res) => {
    //         console.log(res)
    //         return res.json();
    //       })
    //       .then((msg) => {
    //         console.log(msg)
    //       })
    //   }
    // })
  </script>
</body>

</html>