<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/main.js"></script>
</head>

<body>
  <h1> Welcom to Chxnx Express Service!</h1>
  <h2><a href="/users">회원 서비스</a></h2>
  <h2><a href="/dbBoard">게시판 서비스</a></h2>
  <script>
    // 쿠키 생성 key = value / 날짜 표현
    // document.cookie = "user=zack; expires=17 Mar 2023 13:00 GMT; path=/";
    // console.log(document.cookie);
    // document.cookie = "user=kdt; expires=17 Mar 2023 13:00 GMT; path=/";
    console.log(document.cookie)
  </script>

</body>

</html>