<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <h1>회원 페이지 입니다.</h1>
  <h2>이 페이지의 주인 : <%= user %> 회원님 반갑습니다!</h2>

</body>

</html>